<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">


    <th:block layout:fragment="script">
        <script>
            $(document).ready(function() {
                after();
                before();
                between();
                cookie();
                method();
            })

            function after() {
                $.ajax({
                    url: "http://localhost:8000/api/route-sample/after",
                    headers: {
                        Authorization: "[[${userVo.token}]]"
                    },
                    success: function(result) {
                        $("#after > .message").text("message : " + result['message']);
                        $("#after > .exec-time").text("exec-time : " + result['exec-time']);
                    },
                    error: function() {
                        $("#after").html("<p>수행 실패</p>");
                    }
                });
            }

            function before() {
                $.ajax({
                    url: "http://localhost:8000/api/route-sample/before",
                    headers: {
                        Authorization: "[[${userVo.token}]]"
                    },
                    success: function(result) {
                        $("#before > .message").text("message : " + result['message']);
                        $("#before > .exec-time").text("exec-time : " + result['exec-time']);
                    },
                    error: function() {
                        $("#before").html("<p>수행 실패</p>");
                    }

                });
            }

            function between() {
                $.ajax({
                    url: "http://localhost:8000/api/route-sample/between",
                    headers: {
                        Authorization: "[[${userVo.token}]]"
                    },
                    success: function(result) {
                        $("#between > .message").text("message : " + result['message']);
                        $("#between > .exec-time").text("exec-time : " + result['exec-time']);
                    },
                    error: function() {
                        $("#between").html("<p>수행 실패</p>");
                    }
                });
            }

            function cookie() {
                document.cookie = "cookie=authinfo;";
                $.ajax({
                    url: "http://localhost:8000/api/route-sample/cookie",
                    headers: {
                        Authorization: "[[${userVo.token}]]"
                    },
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function(result) {
                        $("#cookie > .message").text("message : " + result['message']);
                        $("#cookie > .exec-time").text("exec-time : " + result['exec-time']);
                    },
                    error: function() {
                        $("#cookie").html("<p>수행 실패</p>");
                    }
                });
            }

            function method() {
                $.ajax({
                    url: "http://localhost:8000/api/route-sample/method",
                    headers: {
                        Authorization: "[[${userVo.token}]]"
                    },
                    method: "POST",
                    success: function(result) {
                        $("#method > .message").text("message : " + result['message']);
                        $("#method > .exec-time").text("exec-time : " + result['exec-time']);
                    },
                    error: function() {
                        $("#method").html("<p>수행 실패</p>");
                    }
                });
            }
        </script>
    </th:block>

    <th:block layout:fragment="content">
        <div class="jumbotron">
            <h1>Route Sample</h1>
        </div>

        <div class="page-header">
            <h1>After</h1>
            <p>url : http://localhost:8000/api/route-sample/after</p>
        </div>
        <div id="after">
            <p class="message"></p>
            <p class="exec-time"></p>
        </div>

        <div class="page-header">
            <h1>Before</h1>
            <p>url : http://localhost:8000/api/route-sample/before</p>
        </div>
        <div id="before">
            <p class="message"></p>
            <p class="exec-time"></p>
        </div>

        <div class="page-header">
            <h1>Between</h1>
            <p>url : http://localhost:8000/api/route-sample/between</p>
        </div>
        <div id="between">
            <p class="message"></p>
            <p class="exec-time"></p>
        </div>

        <div class="page-header">
            <h1>Cookie</h1>
            <p>url : http://localhost:8000/api/route-sample/cookie</p>
        </div>
        <div id="cookie">
            <p class="message"></p>
            <p class="exec-time"></p>
        </div>

        <div class="page-header">
            <h1>Method</h1>
            <p>url : http://localhost:8000/api/route-sample/method</p>
            <p>method : POST</p>
        </div>
        <div id="method">
            <p class="message"></p>
            <p class="exec-time"></p>
        </div>
    </th:block>
</html>