<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="topFragment">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/route-sample">ROUTE-SAMPLE</a></li>
                    <li><a href="/style-sample">STYLE-SAMPLE</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <th:block th:if="${userVo.loginYn == false}">
                        <li><a href="/auth/login">LOGIN</a></li>
                    </th:block>
                    <th:block th:unless="${userVo.loginYn == false}">
                        <li><a href="/auth/logout">LOGOUT</a></li>
                    </th:block>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</th:block>
</html>