<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datasolution.msa.microservice1.dao">
    <select id="selectMemberInfo" parameterType="com.datasolution.msa.microservice1.vo.MemberVo" resultType="com.datasolution.msa.microservice1.vo.MemberVo">
        SELECT SEQ
             , ID
             , PASSWORD
             , NAME
             , AGE
             , ROLE
          FROM MEMBERS
         WHERE ID = #{id}
           AND PASSWORD = #{password}
    </select>
</mapper>